
# Antora
/_archive
/_public

# Additional entries
.work
.kind
.idea
.vscode

# sloth artifacts
sloth-*-*-*
sloth-input/
sloth-output/

# Commodore
/.cache
/dependencies
/helmcharts
/manifests
/vendor
/jsonnetfile.lock.json
/crds
/compiled

# Additional entries
kubeconfig
