
# Antora
/_archive
/_public

# Additional entries
.work
.kind
.idea
.vscode

# sloth artifacts
sloth-*-*-*
sloth-input/
sloth-output/

# Commodore
/component/.cache
/component/dependencies
/component/helmcharts
/component/manifests
/component/vendor
/component/jsonnetfile.lock.json
/component/crds
/component/compiled

/package/.cache
/packages/compiled
/package/dependencies
/package/helmcharts
/package/manifests
/package/vendor
/package/jsonnetfile.lock.json
/package/crds
/package/compiled

/compiled
/dependencies
/vendor

# Additional entries
kubeconfig
