
# Antora
/_archive
/_public

# Additional entries
.work
.kind

# Kubebuilder
/apis/generated/
/apis/**/zz_generated.deepcopy.go

# jsonnet builder
component/jsonnetfile.json

compiled/
vendor/
dependencies/
hack/
